{% assign navbar_pages_sorted = site.pages |
    where_exp:"page", "page.title" |
    sort:"order" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-items" aria-controls="navbar-items"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for navbar_page in navbar_pages_sorted %}
                    <li class="nav-item">
                        {% if navbar_page.url == page.url %}
                            <a href="{{navbar_page.url}}" class="nav-link active" aria-current="page">{{navbar_page.title}}</a>
                        {% else %}
                            <a href="{{navbar_page.url}}" class="nav-link">{{navbar_page.title}}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
  