main.container {
    margin-top: 1em;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

td.price {
    width: 1px;
    white-space: nowrap;
    text-align: right;
}

td.label {
    width: 1px;
    white-space: nowrap;
    text-align: right;
}
