
// Variables
$light: #fff;
$white: #fff;
$primary-color: #ffd0d0;
$primary-bg: #616C7A;
$border-color:rgba(236, 239, 241, 0.07);
$black: #000;
$section-bg : #292F36;
$primary-font: 'Arial Black', sans-serif;
$secondary-font: 'Arial', sans-serif;
$icon-font: 'themefisher-font';

